Package                           Version
--------------------------------- -------------------
altair                            4.1.0
appdirs                           1.4.4
appnope                           0.1.2
argon2-cffi                       20.1.0
astor                             0.8.1
async-generator                   1.10
attrs                             20.3.0
backcall                          0.2.0
base58                            2.1.0
beautifulsoup4                    4.9.3
bleach                            3.3.0
blinker                           1.4
blis                              0.7.4
branca                            0.4.2
brotlipy                          0.7.0
bs4                               0.0.1
cachelib                          0.1.1
cachetools                        4.2.2
catalogue                         2.0.4
certifi                           2020.12.5
cffi                              1.14.3
chardet                           3.0.4
click                             7.1.2
conda                             4.10.1
conda-package-handling            1.7.2
cryptography                      3.2.1
cycler                            0.10.0
cymem                             2.0.5
decorator                         5.0.7
defusedxml                        0.7.1
entrypoints                       0.3
et-xmlfile                        1.1.0
Flask                             1.1.2
Flask-PyMongo                     2.3.0
Flask-Session                     0.3.2
folium                            0.12.1
geographiclib                     1.50
geojson                           2.5.0
geojson-rewind                    1.0.1
geomet                            0.3.0
geopy                             2.1.0
gitdb                             4.0.7
GitPython                         3.1.14
glovo-api-python                  2.0.1
HTMLParser                        0.0.2
idna                              2.10
ipykernel                         5.5.3
ipython                           7.22.0
ipython-genutils                  0.2.0
ipywidgets                        7.6.3
itsdangerous                      1.1.0
jedi                              0.18.0
Jinja2                            2.11.3
joblib                            1.0.1
jsonschema                        3.2.0
jupyter                           1.0.0
jupyter-client                    6.1.12
jupyter-console                   6.4.0
jupyter-contrib-core              0.3.3
jupyter-contrib-nbextensions      0.5.1
jupyter-core                      4.7.1
jupyter-highlight-selected-word   0.2.0
jupyter-latex-envs                1.4.6
jupyter-nbextensions-configurator 0.4.1
jupyterlab-pygments               0.1.2
jupyterlab-widgets                1.0.0
kaggle                            1.5.12
kiwisolver                        1.3.1
langdetect                        1.0.9
lxml                              4.6.3
Markdown                          3.3.4
MarkupSafe                        1.1.1
matplotlib                        3.4.1
mistune                           0.8.4
murmurhash                        1.0.5
nbclient                          0.5.3
nbconvert                         6.0.7
nbformat                          5.1.3
nest-asyncio                      1.5.1
nltk                              3.6.2
notebook                          6.3.0
numpy                             1.20.2
openpyxl                          3.0.7
packaging                         20.9
pandas                            1.2.4
pandocfilters                     1.4.3
parso                             0.8.2
pathy                             0.5.2
pexpect                           4.8.0
pickleshare                       0.7.5
Pillow                            8.2.0
pip                               21.1.1
plotly                            5.1.0
preshed                           3.0.5
prometheus-client                 0.10.1
prompt-toolkit                    3.0.18
protobuf                          3.17.3
ptyprocess                        0.7.0
pyarrow                           4.0.1
pycosat                           0.6.3
pycparser                         2.20
pydantic                          1.7.3
pydeck                            0.6.2
pygbif                            0.5.0
Pygments                          2.8.1
pymongo                           3.11.4
PyMySQL                           1.0.2
pyOpenSSL                         19.1.0
pyparsing                         2.4.7
pyrsistent                        0.17.3
PySocks                           1.7.1
python-dateutil                   2.8.1
python-dotenv                     0.17.1
python-slugify                    5.0.2
pytz                              2021.1
PyYAML                            5.4.1
pyzmq                             22.0.3
qtconsole                         5.0.3
QtPy                              1.9.0
regex                             2021.4.4
requests                          2.24.0
requests-cache                    0.6.3
ruamel-yaml                       0.15.87
scipy                             1.6.3
seaborn                           0.11.1
Send2Trash                        1.5.0
setuptools                        50.3.1.post20201107
six                               1.15.0
smart-open                        3.0.0
smmap                             4.0.0
soupsieve                         2.2.1
spacy                             3.0.6
spacy-legacy                      3.0.5
srsly                             2.4.1
streamlit                         0.82.0
streamlit-folium                  0.4.0
tenacity                          8.0.1
terminado                         0.9.4
testpath                          0.4.4
text-unidecode                    1.3
textblob                          0.15.3
thinc                             8.0.3
toml                              0.10.2
toolz                             0.11.1
tornado                           6.1
tqdm                              4.51.0
traitlets                         5.0.5
typer                             0.3.2
tzlocal                           2.1
url-normalize                     1.4.3
urllib3                           1.25.11
validators                        0.18.2
w3lib                             1.22.0
wasabi                            0.8.2
wcwidth                           0.2.5
webencodings                      0.5.1
Werkzeug                          1.0.1
wheel                             0.35.1
widgetsnbextension                3.5.1
